<!DOCTYPE html>
<html>
	<head>
		<title>{{titt}}</title>
	</head>
	<body>
		<header>
			{{> header}}
		</header>
		<main>
			{{{body}}}
		</main>
		<footer>
			{{> footer}}
		</footer>
	</body>
</html>