<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Task1</title>
	</head>
	<body>
		{{#each rez}}
			<div>
				<h2>{{name}}</h2>
				<p>
					<b>{{cost}}$</b>, rest:
					{{rest}}
				</p>
			</div>
		{{/each}}
	</body>
</html>