{{#if gender}}
{{gender}}
{{/if}}
<form action="" method="POST">
Gender? <br>
<input type="radio" name="gender" value="M"> M
<input type="radio" name="gender" value="F"> F
	<input type="submit" name="submit">
</form>

