{{#if message}}
{{message}}
{{/if}}
<form action="" method="POST">
 <input type="text" name="name" placeholder="Your name">
<input type="checkbox" name="is18Age"> 18 years old?
	<input type="submit" name="submit">
</form>

