<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Index page</title>
</head>
<body>
	<p><span><b>tast 20-1</b></span>
	Сделайте форму с тремя инпутами. После отправки формы отправьте в браузер сумму введенных в инпуты чисел. <br>
	Sum: {{sum}}
	</p>

	<p><span><b>tast 20-3</b></span>
	
// №1⊗jsPmSMMA
// С помощью формы спросите у пользователя пять чисел. После отправки формы выведите на экран сумму этих чисел. <br>
	Sum: {{sum1}}
	</p>
</body>
</html>