<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>№8⊗jsPmSMMA // Дан текстареа и кнопка. В текстареа вводится текст. По нажатию на кнопку
			выведите количество слов и количество символов в тексте.</p>
		<form action='' method='POST'>

			<textarea name='text' id='text'></textarea>

			<input type='submit' />
			{{#if result}}Result: {{result}} </span> {{/if}}
		</form>
	</body>
</html>