<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>
			№5⊗jsPmSMMA Напишите скрипт, который будет находить корни квадратного уравнения. Для этого
			сделайте 3 инпута, в которые будут вводиться коэффициенты уравнения.</p>
		<form action='' method='GET'>

			<input type='number' name='a' style='max-width: 35px' />
			х +
			<input type='number' name='b' style='max-width: 35px' />
			х +
			<input type='number' name='c' style='max-width: 35px' />
			= 0
			<input type='submit' />
			{{#if result}}<span>Result: {{result}}</span> {{/if}}
		</form>
	</body>
</html>