<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>Напишите скрипт, который будет считать факториал числа. Само число вводится в инпут и после
			нажатия на кнопку пользователь должен увидеть результат.</p>
		<form action='' method='GET'>

			<input type='number' name='num' placeholder='Enter num' />
			<input type='submit' />
			{{#if result}}<span>Result: {{result}} Factorial</span> {{/if}}
		</form>
	</body>
</html>