<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>// №7⊗jsPmSMMA // Дан инпут и кнопка. В этот инпут вводится дата рождения в формате
			'01.12.1990'. По нажатию на кнопку выведите на экран сколько дней осталось до дня рождения
			пользователя.</p>
		<form action='' method='GET'>

			<input type='number' name='num1' style='max-width: 350px' />

			<input type='submit' />
			{{#if result}}<span>Before birthday is {{result}} days</span> {{/if}}
		</form>
	</body>
</html>