<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>Напишите скрипт, который будет преобразовывать температуру из градусов Цельсия в градусы
			Фаренгейта. Для этого сделайте инпут и кнопку</p>
		<form action='' method='GET'>

			<input type='number' name='temp' placeholder='Enter temperature in Celsius' />
			<input type='submit' />
			{{#if result}}<span>Result: {{result}} F</span> {{/if}}
		</form>
	</body>
</html>