<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>// №3⊗jsPmSMMA // Дан инпут и кнопка. В инпут вводится число. По нажатию на кнопку выведите
			список делителей этого числа.</p>
		<form action='' method='GET'>

			<input type='number' name='num' placeholder='Enter num' />
			<input type='submit' />
			{{#if result}}<span>Result: {{result}}</span> {{/if}}
		</form>
	</body>
</html>