<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>
// №11⊗jsPmSMMA
// Сделайте скрипт-гороскоп. Внутри него хранится массив гороскопов на несколько дней вперед для каждого знака зодиака. По заходу на страницу спросите у пользователя дату рождения, определите его знак зодиака и выведите предсказание для этого знака зодиака на текущий день.</p>
		<form action="">
			<input type="text" name="birthday">
			<button>submit</button>
		</form>
		
		{{#if result}}Result: {{result}} </span> {{/if}}
	</body>
</html>