<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Document</title>
	</head>
	<body>
		<p>
			№4⊗jsPmSMMA Даны 2 инпута и кнопка. В инпуты вводятся числа. По нажатию на кнопку выведите список
			общих делителей этих двух чисел.</p>
		<form action='' method='GET'>

			<input type='number' name='num1' placeholder='Enter num' />
			<input type='number' name='num2' placeholder='Enter num' />
			<input type='submit' />
			{{#if result}}<span>Result: {{result}}</span> {{/if}}
		</form>
	</body>
</html>