html,
body {
	height: 100%;

	display: flex;
	flex-direction: column;
}
*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(181, 181, 181);
}

footer {
	padding: 10px;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.padding-10-0 {
	padding: 10px 0;
}

.content {
	flex: 1;
	padding: 10px;
}

.menu-list {
	list-style: none;
	text-decoration: solid;
	padding: 5px 15px;
	background-color: rgb(225, 225, 225);
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	text-wrap: nowrap;
}

.menu-list li:not(:last-child)::after {
	content: '|';
	margin: 0 5px;
	text-wrap: nowrap;
}

.menu-list li:hover a {
	color: gray;
}

.form {
	max-width: 500px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px;
	border: 1px solid gray;
	border-radius: 10px;
}

.form input,
.form button {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.form input:first-child {
	min-height: 30px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

.form label {
	font-weight: 700;
}

.charts {
	max-width: 600px;
	margin: 0 auto;
}

.loginForm {
	display: flex;
	flex-direction: column;
	gap: 5px;
	max-width: 350px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
}

.loginForm input {
	width: 100%;
}
.loginForm label {
	align-self: flex-start;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.notification {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
	margin: 0 auto;
	border: 1px solid sandybrown;
}

.surveyList {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 5px;
}

.surveyCard {
	padding: 5px 15px;
	border: 1px dotted black;
	display: flex;
	justify-content: space-between;
}

.viewSurvey--wrapper {
	display: flex;
	flex-direction: column;
	gap: 5px;
	padding: 0 10px;
}

.card {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	border: 1px solid black;
	max-width: 250px;
	width: 100%;
	overflow: hidden;
}

.card span {
	font-weight: 700;
}

.cards-list {
	margin: 10px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 10px;
}

.link {
	align-self: flex-end;
	justify-items: flex-end;
	margin-top: auto;
}

/* 
.reviews-list {
	margin: 20px 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	gap: 15px;
}

.review {
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid black;
	max-width: 350px;
	width: 100%;
}

.review span {
	font-weight: 700;
}

.review-info p {
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

.review-buttons {
	display: flex;
	gap: 15px;
	justify-content: center;
} */

/* 
.card {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
	border: 1px solid black;
	max-width: 250px;
	width: 100%;
	min-height: 350px;
	overflow: hidden;
}

.card p:not(:first-child) {
	font-size: 14px;
}

.card span {
	font-weight: 700;
}
.card span:first-child {
	text-align: center;
}

.card-img {
	width: 100%;
	max-height: 100px;
	margin: 0 auto;
	max-width: 100px;
}

.card-img img {
	width: 100%;
	max-height: 100px;
	max-width: 100px;
	object-fit: contain;
}

.cards-list {
	margin: 10px 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 10px;
}

.link {
	align-self: flex-end;
	justify-items: flex-end;
	margin-top: auto;
}

.comment {
	overflow: hidden;
	text-overflow: ellipsis;
	min-height: 100px;
}

.view-review--wrapper img {
	width: 100%;
	max-height: 500px;
	object-fit: contain;
}

.view-review--wrapper span {
	font-weight: 700;
}

#review-img {
	max-width: 500px;
	margin: 0 auto;
}
@media (max-width: 870px) {
	.review-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}
}

@media (max-width: 600px) {
	.review {
		max-width: 200px;
	}

	.review-buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 15px;
	}

	.cards-list {
		grid-template-columns: repeat(2, 1fr);
		gap: 5px;
	}
} */
