<div>
	<h2 class='align-center'>Create your reminder</h2>

	<form action='' method='post' class='form'>
		<input type='text' name='name' id='' placeholder='Enter the name of a reminder (action)' />
		<input type='date' name='date' id='' placeholder='Enter the date of the event' />
		<button type='submit'>create this reminder</button>
	</form>

</div>