

<form class='form-survey' method='POST' action='/create'>
	<label for='title'>Name of this survey</label>
	<input name='title' type='text' placeholder='Enter survey title' required />

	<label for='description'>Description of this survey</label>
	<textarea name='description' placeholder='Enter survey description'></textarea>

	<div class='survey'>
		<h3>Survey Questions</h3>

		<div class='question' data-question-index='0'>
			<label>Question 1</label>
			<input type='text' name='questions[0][text]' class='question-input' required />

			<h4>Answers</h4>
			<div class='survey-answers' data-question-index='0'>
				<div class='answer-option'>
					<label>
							<span class='answer-text'>Answer 1 </span><input type='text' name='questions[0][answers][0][text]' required />
				</div>
				<div class='answer-option'>
					<label>
							<span class='answer-text'>Answer 2 </span><input type='text' name='questions[0][answers][1][text]' required />
				</div>
			</div>

			<div class='controls-buttons'>
				<span class='add-answer' style='color: brown; cursor:pointer;'>+ Add answer</span>
				<span class='delete-answer' style='color: brown; cursor:pointer;'>- Delete answer</span>
			</div>
		</div>

	</div>

	<button id='add-question'>Add question</button>
	<button id='delete-question'>Delete question</button>
	<button type='submit'>Create</button>
</form>

<script src='create.js'></script>