<div class='surveyList'>

	{{#if data}}
		{{#each data}}

			<div class='surveyCard'>
				<p>
					name:
					{{title}}
					<br />
					description:
					{{description}}
				</p>
				<button><a href='/survey/{{_id}}'>details</a></button>
			</div>

		{{/each}}
	{{else}}
		<p>no surveys</p>
	{{/if}}
</div>